.container-agenda {
  padding-top: 60px;
  background-image: url("../assets/Rayas.png");
  height: 100vh;
  background-position: center;
}

.content-agenda {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.container-buttons {
  display: flex;
  gap: 30px;
  margin: auto;
  justify-content: center;
}

.container-buttons button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #082046;
}

.div {
  margin: 20px auto;
}
