main {
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: 800px;
  display: flex;
}
.content-main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 70%;
  margin: auto;
}

.main-message {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.slogan-img {
  width: 600px;
}
.pickup {
  position: absolute;
  width: 900px;
  bottom: -100px;
  right: -200px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slogan-img-mov {
  display: none;
}

@media (max-width: 768px) {
  .content-main {
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  main {
    height: initial;
    padding-bottom: 0;
  }

  .slogan-img {
    display: none;
  }
  .pickup {
    position: initial;
    width: 380px;
  }

  .slogan-img-mov {
    display: block;
    width: 100%;
  }
}
