.main-confirm {
  background-image: url("../assets/BG3.png");
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: auto;
  display: flex;
}
/* .content-main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 80%;
  margin: auto;
} */

.disabled-field input {
  opacity: 0.2;
  pointer-events: none;
}
.main-message {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.slogan-img {
  width: 600px;
}
.container-pickup {
  position: relative;
}
.pickup-confirm {
  position: absolute;
  width: 800px;
  bottom: 100px;
  left: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slogan-img-mov {
  display: none;
}

@media (max-width: 768px) {
  .content-main {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0;
  }
  .main-confirm {
    height: initial;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  .slogan-img {
    display: none;
  }

  .container-pickup {
    width: 100%;
    height: 270px;
  }

  .pickup-confirm {
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: 10;
  }

  .slogan-img-mov {
    display: block;
    width: 85%;
    align-items: center;
    margin-bottom: 30px;
  }

  .main-message {
    width: 100%;
  }
}

/* ESTILOS PARA EL FORMULARIO */

.contenedor-formulario-confirm {
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  justify-content: center;
}
.formulario {
  /* max-width: 400px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.message-form-text {
  text-align: left;
}
.input-container-recovery {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #5d5d5d;
  background-color: #f5f5f5;
  font-weight: 700;
  color: #a0a0a0;
}

.date_return,
.date_outbound,
.boarding_time_return,
.boarding_time_outbound {
  position: relative;
}
.date-time[type="date"]::after {
  content: "Fecha:";
  position: absolute;
  top: -7px;
  font-size: 10px;
  /* font-weight: 700; */
}

.date-time[type="time"]::after {
  content: "Hora:";
  position: absolute;
  top: -7px;
  font-size: 10px;
  /* font-weight: 700; */
}
/* Evita que se recorten los textos en iOS
.input[type="date"]::-webkit-date-and-time-value {
  text-align: left;
}

/* Placeholder visible en iOS 
.input[type="date"]:before {
  content: attr(placeholder);
  color: gray;
} */

.form-notice {
  text-align: left;
}

#individual_room,
#shared_room {
  width: 10px;
}

.btn-registro {
  background-color: #2978b5;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .btn-registro:hover {
      background-color: #0056b3;
    } */

.call-title-form {
  font-size: 2rem;
  font-weight: 700;
  color: #000338;
}
.form-title {
  text-align: left;
}

.message-form-text {
  font-size: 1rem;
  font-weight: 500;
  color: #282727;
}

.message-form-text-pw {
  /* font-size: 0.5rem; */
  color: #5d5d5d;
  margin: 20px auto;
}

.btn-hidden {
  display: none;
}

.individual_room {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.individual_room label {
  text-align: left;
  font-size: 0.8rem;
}

.shared_room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.shared_room label {
  font-size: 0.8rem;
  text-align: left;
}
.success-message {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
  text-align: left;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.error-message-2 {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: left;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.warning {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #d3edfc;
  color: #053066;
  padding: 10px;
}

.form-warning {
  text-align: left;
  font-size: 0.7rem;
  font-weight: 700;
}

.label-terms {
  display: flex;
  align-items: center;
  justify-content: left;
}

.label-terms label {
  text-align: left;
  font-size: 0.8rem;
}
.create-type {
  width: 20px;
}

/* Crear modal estilos */
/* Fondo opaco detrás del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del modal */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 5px 15px rgba(6, 0, 73, 0.3);
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
/* .modal-content h2 {
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 10px;
} */
/* Botón de cerrar */
.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Botón para abrir el modal */
.open-modal-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2978b5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.open-modal-btn:hover {
  background-color: #0056b3;
}

.type-form-choose {
  text-align: left;
  display: flex;
  justify-content: center;
}
.content-checkbox {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  gap: 2px;
}
.content-checkbox input {
  width: 10px;
}
.content-checkbox label {
  padding: 5px;
  font-size: 0.8rem;
}
.p-modal {
  height: 80%;
  overflow-y: scroll;
  text-align: left;
}

@media (max-width: 768px) {
  .contenedor-formulario-confirm {
    width: 90%;
    margin: auto;
    gap: 10px;
    /* height: 526px; */
    position: relative;
    z-index: 100;
  }
  .formulario {
    gap: 10px;
  }
  .content-main {
    gap: 0;
  }
  .main-confirm {
    padding-top: 5rem;
    padding-bottom: 0rem;
  }

  .p-modal {
    height: 75%;
    overflow: scroll;
    overscroll-behavior: auto;
  }
}
