.contador {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 370px;
  align-items: end;
  position: relative;
}

.line {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.line {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  background-color: #00cfd2;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-weight: lighter;
  border-radius: 25px 0 25px 0;
  position: relative;
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.line:first-child {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  background-color: #00cfd2;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-weight: lighter;
  border-radius: 25px 0 25px 0;
  position: relative;
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  top: -10px;
}

.line:first-child .title-numbers {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.title-numbers {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-date {
  color: #00cfd2;
}

.count-title {
  color: #068585;
  text-transform: uppercase;
}

.contador-container {
  background-color: #e9f7f8;
  padding: 50px;
}

@media (max-width: 768px) {
  .contador {
  }
  .line:first-child {
    width: 150px;
    height: 150px;
    font-size: 4rem;
    font-weight: 700;
    top: 60px;
  }
  .line:first-child .title-numbers {
    font-size: 2rem;
  }
  .line {
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
  }
}
