.dresscode-container {
  background-image: url("../assets/Rayas.png");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-dresscode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  gap: 100px;
}

.content-dresscode h2 {
  font-size: 3rem;
  color: #0e3668;
}

.img-container-dresscode img {
  width: 100%;
}

.p-dresscode {
  text-align: left;
  color: #0e3668;
  font-size: 1.5rem;
}

.container-p {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .content-dresscode {
    width: 90%;
    gap: 10px;
  }
  .p-dresscode {
    font-size: 0.8rem;
  }
  .content-dresscode h2 {
    font-size: 2rem;
    white-space: nowrap;
  }
}
