.footer {
  background-color: #082046;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-footer {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.container-legal {
  display: flex;
  gap: 20px;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding-top: 20px;
  padding-top: 20px;
}
.legal-advices {
  color: #499fc5;
}
.address {
  color: #fff;
  font-size: 0.6rem;
  text-align: left;
  font-weight: lighter;
}

.main-message-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: self-end;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media a {
  text-decoration: none;
}
.social-media img {
  margin-top: 2rem;
  width: 30px;
}

.slogan-footer {
  width: 350px;
}

@media (max-width: 768px) {
  .slogan-footer,
  .container-legal {
    display: none;
  }
  .container-footer {
    flex-direction: column;
    gap: 0px;
  }

  .address {
    text-align: center;
  }

  .container-info {
    gap: 0px;
    padding: 0px;
  }

  .social-media img {
    margin-top: 2rem;
  }

  .main-message-footer {
    align-items: center;
  }
}
