.navbar-home {
  background-image: linear-gradient(#0c3a6a, #026baf);
}
.navbar-content-home {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-between;
}
.abrir ul li {
  list-style: none;
  color: white;
  cursor: pointer;
  display: flex;
  text-align: left;
  gap: 15px;
  padding: 12px;
  align-items: center;
}
.container-menu {
  position: relative;
  width: 220px;
  display: flex;
  justify-content: right;
}

.cerrar {
  display: none;
}
.container-all {
  display: flex;
}

.abrir {
  padding: 20px;
  background-color: #0265a3c8;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom: -548px;
}

.active {
  /* border-bottom: 4px solid #fff; */
  position: relative;
  display: flex;
  justify-content: center;
}
.msg-h2 {
  display: flex;
  justify-content: center;
  margin: 50px 10px auto;
  color: #fff;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: auto;
}
.logo-gwm-2 {
  width: 150px;
  position: relative;
  right: -100px;
}
.logo-bbva-2 {
  width: 150px;
}

.container-portada-2 {
  background-image: url("../../src/assets/haval.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content-slogan {
  display: flex;
  justify-content: left;
  margin: auto;
}

.slogan-home {
  width: 70%;
}

.content-pickup {
  display: flex;
  justify-content: center;
  margin: auto;
}

.content-pickup img {
  width: 90%;
}
.portada-content-2 {
  width: 70%;
}

.btn-nav {
  background-color: #83a5c1;
  outline: none;
  border: none;
  color: #fff;
}
@media (max-width: 768px) {
  .navbar-title ul {
    flex-direction: column;
  }
}
