.navbar-home {
  background-image: linear-gradient(#0c3a6a, #026baf);
  position: fixed;
  width: 100%;
  z-index: 200;
}
.navbar-content-home {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.abrir ul li {
  list-style: none;
}

.abrir ul li a {
  color: white;
  cursor: pointer;
  display: flex;
  text-align: left;
  gap: 15px;
  padding: 12px;
  align-items: center;
  font-weight: 500;
}

.abrir ul li a img {
  width: 30px;
}

.container-menu {
  position: relative;
  width: 270px;
  display: flex;
  justify-content: right;
}

.cerrar {
  display: none;
}
.container-all {
  display: flex;
}

.list-nav a span {
  font-size: 1.5rem;
}

.abrir {
  padding: 20px;
  background-color: #0265a3f0;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom: -654px; /* Si quieres que aparezca, debes cambiar este valor */
  transition: bottom 0.2s ease-in-out;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.active {
  /* border-bottom: 4px solid #fff; */
  position: relative;
  display: flex;
  justify-content: center;
}
.msg-h2 {
  display: flex;
  justify-content: center;
  margin: 50px 10px auto;
  color: #fff;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: auto;
}
.logo-gwm-2 {
  width: 100px;
  height: 30px;
  position: relative;
  right: -100px;
}
.logo-bbva-2 {
  width: 150px;
}

.container-portada-2 {
  background-image: url("../../src/assets/haval.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  padding-top: 7rem;
  padding-bottom: 30px;
}
.content-slogan {
  display: flex;
  justify-content: left;
  margin: auto;
}

.slogan-home {
  width: 70%;
}

.content-pickup {
  display: flex;
  justify-content: center;
  margin: auto;
}

.content-pickup img {
  width: 90%;
}
.portada-content-2 {
  width: 70%;
}

.btn-nav {
  background-color: #83a5c1;
  outline: none;
  border: none;
  color: #fff;
  height: 50px;
  width: 50px;
}
@media (max-width: 768px) {
  .navbar-title ul {
    flex-direction: column;
  }
  .logo-gwm-2 {
    width: 70px;
    right: -120px;
  }
  .logo-bbva-2 {
    width: 50px;
  }
  .container-all {
    align-items: center;
    /* width: 100px; */
  }
  .navbar-content-home {
    align-items: center;
  }
  .btn-nav {
    position: relative;
    right: 110px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .abrir {
    top: 50px;
    right: 70px;
  }
  .slogan-home {
    width: 100%;
  }
  .portada-content-2 {
    width: 90%;
  }

  .msg-h2 h2 {
    font-size: 1rem;
  }
  .content-pickup img {
    width: 110%;
    margin-top: 100px;
  }
  .list-nav a span {
    font-size: 1.2rem;
  }
}
