.container-transport {
  background-image: url("../../src/assets/Transportacion.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-transport {
  width: 70%;
  margin: auto;
  align-items: center;
}

.content-transport {
  color: #fff;
}

.content-transport h2 {
  font-size: 4rem;
  padding-top: 50px;
}
/* 
.img-transport img {
  width: 100%;
} */

.content-transport p {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 100;
  margin: 50px auto;
}

@media (max-width: 768px) {
  .content-transport h2 {
    font-size: 2rem;
    padding-top: 50px;
  }
  .content-transport {
    width: 90%;
  }
  .content-transport p {
    font-size: 0.8rem;
    margin: 20px auto;
  }
  .img-transport img {
    width: 80%;
    margin: 50px auto;
  }
}
