@font-face {
  font-family: "MyFont";
  src: url("./font/BentonSansBBVA-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./font/BentonSansBBVA-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./font/BentonSansBBVA-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Aplicar la fuente */
* {
  font-family: "MyFont", sans-serif;
}
